@media screen and (min-width:425px) and (max-width:1024px) {
   .margin-support{
    margin-left: 0px;;
    color: aqua;
   }

   .dropdown-menu{
    position:absolute;
    left: 0;
    margin: 0%;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    border: 0px ;
      border-radius: 0%;
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
      width: 95vw;
   }


   .nav-link.dropdown-toggle::after{
    display: none;
   }
   
   
  .newsroom_h1{
   font-size: 60px;
   color: black !important;
  }


.small-text{
   font-size: xx-small;
}
  
}